body.black{
    background-color:black;
    color:white;
}
body.white{
    background-color:white;
    color:black;
}
header{
    border-bottom: 1px solid grey;
    padding: 20px;
}
nav{
    border-right: 1px solid grey;
    width: 200px;
    height: 600px;
    float: left;
    padding: 20px;
    line-height: 2;
}
nav ol{
    list-style: none;
}
article{
    float: left;
    padding: 20px;
}
h2{
    font-size: 20px;
    color: blue;
}
#control{
    float: right;
}